.fas.fa-long-arrow-alt-right:hover {
  transform: translateX(20%);
}

@media (min-width:500px) {
  font-size: 30px;
}

@media (max-width:1500px) {
  .masthead .intro-body .brand-heading {
    font-size: 135px !important;
  }
}

@media (max-width:1000px) {
  .masthead .intro-body .brand-heading {
    font-size: 118px !important;
  }
}

@media (max-width:600px) {
  .masthead .intro-body .brand-heading {
    font-size: 105px !important;
  }
}

@media (max-width:500px) {
  .masthead .intro-body .brand-heading {
    font-size: 70px !important;
  }
}

@media (max-width:1379px) {
  .container {
    margin-left: 10%;
  }
}

@media (max-width:900px) {
  .container {
    margin-top: 0%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 500px) {
  button, input {
    width: 100%;
  }
}

@media (max-width: 700px) {
  button, input {
    width: 100%;
    padding-right: 9% !important;
  }
}

.btn-primary:hover {
  color: #212529;
  background-color: transparent !important;
  border: none !important;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  background-color: transparent !important;
  border: none !important;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
}

