<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>PRM</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="{{ url_for('static',filename='fonts/fontawesome-all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='fonts/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='fonts/ionicons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='fonts/line-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='fonts/material-icons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='fonts/fontawesome5-overrides.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/Login-Form-Clean-1.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/Login-Form-Clean.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/Social-Icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/Team-Boxed.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/untitled.css') }}">
</head>

<body>
    <div class="login-clean" style="height: 949px !important;">
        <form method="post" style="margin-top: 100px;">
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><i class="icon ion-ios-navigate"></i></div>
            <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email"></div>
            <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Log In</button></div><a class="forgot" href="#">Forgot your email or password?</a></form>
    </div>
    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="{{ url_for('static',filename='js/theme.js') }}"></script>
</body>

</html>